<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1 id="featured">Featured Products</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="background-color: rgb(64, 75, 88)">
                <img style='display: inline-block; height: 200px; width: 250px;' class="col-sm-3 col-md-offset-1" src="./../img/450by300grey.jpg" alt="450by300grey" />
                <img style='display: inline-block; height: 200px; width: 250px;' class="col-sm-3 col-md-offset-1" src="./../img/450by300grey.jpg" alt="450by300grey" />
                <img style='display: inline-block; height: 200px; width: 250px;' class="col-sm-3 col-md-offset-1" src="./../img/450by300grey.jpg" alt="450by300grey" />
            </div>
        </div>
    </div>
</div>
<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1 id="featured">Current Collection</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="background-color: rgb(64, 75, 88)">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="panel panel-warning">
            <div class="panel-heading" style="">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1 id="featured">Checkout All Our Products</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="background-color: rgb(64, 75, 88)">
                <div class="panel-body" style="background-color: rgb(64, 75, 88)">
                    <img style='display: inline-block; height: 150px; width: 200px;' class=".col-xs-6 .col-sm-3" src="./../img/450by300grey.jpg" alt="450by300grey" />
                    <img style='display: inline-block; height: 150px; width: 200px;' class=".col-xs-6 .col-sm-3" src="./../img/450by300grey.jpg" alt="450by300grey" />
                    <img style='display: inline-block; height: 150px; width: 200px;' class=".col-xs-6 .col-sm-3" src="./../img/450by300grey.jpg" alt="450by300grey" />
                    <img style='display: inline-block; height: 150px; width: 200px;' class=".col-xs-6 .col-sm-3" src="./../img/450by300grey.jpg" alt="450by300grey" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1 id="featured">About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="background-color: rgb(64, 75, 88)">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</div>
